### Operators
    - Highest to Lowest Precedence

In [ ]:
#Exponential
2**3

8

In [ ]:
#Modulus - return the remainder
22%8

6

In [6]:
#Integer Division - Integer division is the same as regular division except the result is rounded down.
22//8

2

In [7]:
#Division
22/8

2.75

In [8]:
#Multiplication
22*8

176

In [9]:
#Subtraction
5-2

3

In [10]:
#Addition
3+4

7

The order of operations (also called precedence) of Python math operators is similar to that of mathematics. The ** operator is evaluated first; the *, /, //, and % operators are evaluated next, from left to right; and the + and - operators are evaluated last (also from left to right). You can use parentheses to override the usual precedence if you need to. 

3 * 2
Operator - *
Operand - 3,2

In [11]:
print(2+3*6)
print((2+3)*6)
print(48565878 * 578453)
print(2**8)
print(23/7)
print(23//7)
print(23%7)
print(2+2)
print( (5 - 1) * ((7 + 1) / (3 - 1)))

20
30
28093077826734
256
3.2857142857142856
3
2
4
16.0

###  The Integer, Floating-Point, and String Data Types

- Remember that expressions are just values combined with operators, and they always evaluate to a single value. A data type is a category for values, and every value belongs to exactly one data type. 

The most common Data Types:

- Integer or int - values that are whole numbers.
    - e.g. -2, -1, 0 ,1
- Floating-point numbers or floats - Numbers with decimal point
    - e.g. -1.25, -1.0, -0.5, 0.0, 1.0
- Note that even though the value 42 is an integer, the value 42.0 would be a floating-point number.
- One subtle detail about Python is that any math performed using an int and a float results in a float, not an int. 
- While 3 + 4 evaluates to the integer 7, the expression 3 + 4.0 evaluates to the floating-point number 7.0. Any division between two integers with the / division operator results in a float as well. For example, 16 / 4 evaluates to 4.0 and not 4. 

- String or str - Text values - Begin and ends with '
    - e.g. 'a', 'aa', 'aaa', 'Hello', '11 cats'
    - Python programs can also have text values called strings, or strs (pronounced stirs). Always surround your string in single-quote (') characters (as in 'Hello' or 'Goodbye cruel world!') so that Python knows where the string begins and ends. You can even have a string with no characters in it, '', called a blank string or an empty string.

### String Concatenation and Replication

The meaning of an operator may change based on the data types of the values next to it. For example, + is the addition operator when it operates on two integers or floating-point values. However, when + is used to combine two string values, it joins the strings as the string concatenation operator.

In [1]:
'Alice' + 'Bob'

'AliceBob'

In [2]:
#String+integer will display error message
'Alice'+23

TypeError: can only concatenate str (not "int") to str

The * operator multiplies two integer or floating-point values. But when 
the * operator is used on one string value and one integer value, it becomes 
the string replication operator.

In [3]:
'Alice'*5

'AliceAliceAliceAliceAlice'

The * operator can only be used with two numeric values (for multipli
cation), or one string value and one integer value (for string replication).

In [4]:
'Alice'*'Bob'

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
'Alice'*5.0

TypeError: can't multiply sequence by non-int of type 'float'

### Storing Values in Variables

A variable is like a box in the computer’s memory where you can store a 
single value. If you want to use the result of an evaluated expression later in your program, you can save it inside a variable.

#### Assignment Statements
- You’ll store values in variables with an assignment statement.
- An assignment statement consists of a variable name, an equal sign (called the assignment operator), and the value to be stored.

In [6]:
spam=40
spam

40

In [7]:
b=2
spam+b

42

In [8]:
spam='Hello'
spam

'Hello'

#### Variable Names

Though you can name your variables almost anything, Python does have some naming restrictions. Your variable name must obey the following four rules:
- It can’t have spaces.
- It can use only letters, numbers, and the underscore (_) character.
- It can’t begin with a number.
- It can’t be a Python keyword, such as if, for, return, or other keywords

##### VALID VARIABLE NAMES &emsp; &emsp; &emsp; INVALID VARIABLE NAMES

current_balance &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;current-balance(hyphens not allowed)<br>currentBalance&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;current balance(spaces are not allowed)<br>account4&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&ensp; 4account(Can't begin with a number)<br>
_42&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;42(can begin with an _ but not an number)<br>
TOTAL_SUM&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&ensp;&emsp;TOTAL_$UM(spl characters like $ not allowed)<br>hello&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&emsp;&emsp;'hello'(spl characters like ' are not allowed)

Variable names are case-sensitive, meaning that spam, SPAM, Spam, and sPaM 
are four different variables. It is a Python convention to start your variables with a lowercase letter: spam instead of Spam