### Operators
    - Highest to Lowest Precedence

In [ ]:
#Exponential
2**3

8

In [ ]:
#Modulus - return the remainder
22%8

6

In [6]:
#Integer Division - Integer division is the same as regular division except the result is rounded down.
22//8

2

In [7]:
#Division
22/8

2.75

In [8]:
#Multiplication
22*8

176

In [9]:
#Subtraction
5-2

3

In [10]:
#Addition
3+4

7

The order of operations (also called precedence) of Python math operators is similar to that of mathematics. The ** operator is evaluated first; the *, /, //, and % operators are evaluated next, from left to right; and the + and - operators are evaluated last (also from left to right). You can use parentheses to override the usual precedence if you need to. 

3 * 2
Operator - *
Operand - 3,2

In [11]:
print(2+3*6)
print((2+3)*6)
print(48565878 * 578453)
print(2**8)
print(23/7)
print(23//7)
print(23%7)
print(2+2)
print( (5 - 1) * ((7 + 1) / (3 - 1)))

20
30
28093077826734
256
3.2857142857142856
3
2
4
16.0

###  The Integer, Floating-Point, and String Data Types

- Remember that expressions are just values combined with operators, and they always evaluate to a single value. A data type is a category for values, and every value belongs to exactly one data type. 

The most common Data Types:

- Integer or int - values that are whole numbers.
    - e.g. -2, -1, 0 ,1
- Floating-point numbers or floats - Numbers with decimal point
    - e.g. -1.25, -1.0, -0.5, 0.0, 1.0
- Note that even though the value 42 is an integer, the value 42.0 would be a floating-point number.
- One subtle detail about Python is that any math performed using an int and a float results in a float, not an int. 
- While 3 + 4 evaluates to the integer 7, the expression 3 + 4.0 evaluates to the floating-point number 7.0. Any division between two integers with the / division operator results in a float as well. For example, 16 / 4 evaluates to 4.0 and not 4. 

- String or str - Text values - Begin and ends with '
    - e.g. 'a', 'aa', 'aaa', 'Hello', '11 cats'
    - Python programs can also have text values called strings, or strs (pronounced stirs). Always surround your string in single-quote (') characters (as in 'Hello' or 'Goodbye cruel world!') so that Python knows where the string begins and ends. You can even have a string with no characters in it, '', called a blank string or an empty string.

### String Concatenation and Replication

The meaning of an operator may change based on the data types of the values next to it. For example, + is the addition operator when it operates on two integers or floating-point values. However, when + is used to combine two string values, it joins the strings as the string concatenation operator.

In [1]:
'Alice' + 'Bob'

'AliceBob'

In [2]:
#String+integer will display error message
'Alice'+23

TypeError: can only concatenate str (not "int") to str

The * operator multiplies two integer or floating-point values. But when 
the * operator is used on one string value and one integer value, it becomes 
the string replication operator.

In [3]:
'Alice'*5

'AliceAliceAliceAliceAlice'

The * operator can only be used with two numeric values (for multipli
cation), or one string value and one integer value (for string replication).

In [4]:
'Alice'*'Bob'

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
'Alice'*5.0

TypeError: can't multiply sequence by non-int of type 'float'

### Storing Values in Variables

A variable is like a box in the computer’s memory where you can store a 
single value. If you want to use the result of an evaluated expression later in your program, you can save it inside a variable.

#### Assignment Statements
- You’ll store values in variables with an assignment statement.
- An assignment statement consists of a variable name, an equal sign (called the assignment operator), and the value to be stored.

In [6]:
spam=40
spam

40

In [7]:
b=2
spam+b

42

In [8]:
spam='Hello'
spam

'Hello'

#### Variable Names

Though you can name your variables almost anything, Python does have some naming restrictions. Your variable name must obey the following four rules:
- It can’t have spaces.
- It can use only letters, numbers, and the underscore (_) character.
- It can’t begin with a number.
- It can’t be a Python keyword, such as if, for, return, or other keywords

##### VALID VARIABLE NAMES &emsp; &emsp; &emsp; INVALID VARIABLE NAMES

current_balance &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;current-balance(hyphens not allowed)<br>currentBalance&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;current balance(spaces are not allowed)<br>account4&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&ensp; 4account(Can't begin with a number)<br>
_42&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;42(can begin with an _ but not an number)<br>
TOTAL_SUM&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&ensp;&emsp;TOTAL_$UM(spl characters like $ not allowed)<br>hello&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&emsp;&emsp;'hello'(spl characters like ' are not allowed)

Variable names are case-sensitive, meaning that spam, SPAM, Spam, and sPaM 
are four different variables. It is a Python convention to start your variables with a lowercase letter: spam instead of Spam

### Your First Program

In [3]:
 # This program says hello and asks for my name. 
print('Hello, world!')
print('What is your name?')  # Ask for their name.
my_name = input('>')
print('It is good to meet you, ' + my_name)
print('The length of your name is:')
print(len(my_name))
print('What is your age?')  # Ask for their age.
my_age = input('>')
print('You will be ' + str(int(my_age) + 1) + ' in a year.')

Hello, world!
What is your name?
It is good to meet you, ram
The length of your name is:
3
What is your age?
You will be 27 in a year.

## Dissecting the Program

### Comments

The following Line is called a comment

In [4]:
 # This program says hello and asks for my name.

Python ignores comments, and you can use them to write notes or remind yourself what the code is trying to do. Any text for the rest of the line following a hash mark (#) is part of a comment.
Sometimes programmers will put a # in front of a line of code to tem
porarily remove it while testing a program. This is called commenting out 
code

### print() Function

The print() function displays the string value inside its parentheses on the screen

In [5]:
print('Hello, world!')
print('What is your name?')  # Ask for their name.

Hello, world!
What is your name?

The line print('Hello, world!') means “Print out the text in the string 'Hello, world!'.” When Python executes this line, you say that Python is calling the print() function and the string value is being passed to the function. A value that is passed to a function call is an argument. Notice that the quotes are not printed to the screen. They just mark where the string 
begins and ends; they are not part of the string value’s text.

#### Note
You can also use this function to display a blank line on the screen; call print() with nothing in between the parentheses.

### The input() Function

The input() function waits for the user to type some text on the keyboard 
and press enter

In [6]:
my_name = input('>')

This function call evaluates to a string identical to the user’s text, and 
the rest of the code assigns the my_name variable to this string value.

### The Greeting Message

The following call to print() contains the expression 'It is good to meet 
you, ' + my_name between the parentheses:

In [7]:
print('It is good to meet you, ' + my_name)

It is good to meet you, Ram

### The len() Function

You can pass the len() function a string value (or a variable containing a 
string), and the function evaluates to the integer value of the number of 
characters in that string:

In [8]:
print('The length of your name is:')
print(len(my_name))

The length of your name is:
3

Just like in those examples, len(my_name) evaluates to an integer. We 
say that the len() function call returns or outputs this integer value, and the value is the function call’s return value. It is then passed to print() to be displayed on the screen. The print() function allows you to pass it either 
integer values or string values

### The str(), int(), and float() Functions

If you want to concatenate an integer such as 29 with a string to pass to 
print(), you’ll need to get the value '29', which is the string form of 29. The str() function can be passed an integer value and will return a string value 
version of the integer, as follows:

In [ ]:
str(25)
print('I am '+ str(29)+' years old')

I am 29 years old

In [12]:
str(0)

'0'

In [13]:
str(-3.14)

'-3.14'

In [14]:
int('42')

42

In [15]:
int(1.25)

1

In [16]:
float('3.14')

3.14

In [17]:
float(10)

10.0

- The previous examples call the str(), int(), and float() functions and 
pass them values of the other data types to obtain a string, integer, or floating- point form of those values.
- The str() function is handy when you have an integer or float that you 
want to concatenate to a string. The int() function is also helpful if you 
have a number as a string value that you want to use in some mathematics.

#### Note
if you pass a value to int() that it cannot evaluate as an integer, Python will display an error message:

In [18]:
int('99.99')

ValueError: invalid literal for int() with base 10: '99.99'

In [19]:
int('Twelve')

ValueError: invalid literal for int() with base 10: 'Twelve'

The int() function is also useful if you need to round a floating-point 
number down:

In [20]:
int(7.7)

7

#### Text and Number Equivalence

 Although the string value of a number is considered a completely different value from the integer or floating-point version, an integer can be equal to a floating point:

In [21]:
42=='42'

False

In [22]:
42==42.0

True

In [23]:
42.00==00042.000

True

#### The type() Function

Integer, floating-point, and string aren’t the only data types in Python.
You can always pass these to the type() function to determine what type they are.

In [ ]:
type(42)

float

In [25]:
type(42.0)

float

In [26]:
type('Forty two')

str

In [27]:
name='Ram'
type(name)

str

In [28]:
type(len(name))

int

### The round() and abs() Functions

The round() function accepts a float value and returns the nearest integer.

In [29]:
round(3.14)

3

In [30]:
round(7.7)

8

In [31]:
round(-2.2)

-2

In [32]:
round(2.5)

2

The round() function also accepts an optional second argument specifying how many decimal places it should round.

In [33]:
round(3.14,1)

3.1

In [35]:
round(7.7777,3)

7.778

 The behavior for rounding half numbers is a bit odd. The function call 
round(3.5) rounds up to 4, while round(2.5) rounds down to 2. This quirk is 
caused by how computers handle floating-point numbers, you should keep this behavior in mind.

The abs() function returns the absolute value of the number argument. 
In mathematics, this is defined as the distance from 0, but I find it easier to  think of it as the positive form of the number.

In [36]:
abs(25)

25

In [37]:
abs(-25)

25

In [38]:
abs(-3.14)

3.14

In [39]:
abs(0)

0