### Python Set
A Python set is an unordered list of immutable elements. It means:

- Elements in a set are unordered.
- Elements in a set are unique. A set doesn’t allow duplicate elements.
- Elements in a set cannot be changed. For example, they can be numbers, strings, and tuples, but cannot be lists or dictionaries.

To define a set in Python, you use the curly brace {}. For example:

In [4]:
skills = {'Python programming', 'Databases', 'Software design'}

Note a dictionary also uses curly braces, but its elements are key-value pairs.

To define an empty set, you cannot use the curly braces like this:

In [5]:
empty_set = {}   # it defines the empty dictionary

#Follow below
skills = set()

if not skills:
    print('Empty sets are falsy')

Empty sets are falsy

In fact, you can pass an iterable to the set() function to create a set. For example, you can pass a list, which is an iterable, to the set() function like this:

In [6]:
skills = set(['Problem solving','Critical Thinking'])
print(skills)

{'Critical Thinking', 'Problem solving'}

Note that the original order of elements may not be preserved.

If an iterable has duplicate elements, the set() function will remove them. For example:

In [ ]:
characters = set('letter')
print(characters)

#In this example, the string 'letter' has two e and t characters and the set() removes each of them.

{'t', 'e', 'l', 'r'}

### Getting sizes of a set

len(set)

In [2]:
ratings = {1, 2, 3, 4, 5,5}
size = len(ratings)

print(size)

5

### Checking if an element is in set

To check if a set contains an element, you use the in operator:
**element in set**

In [3]:
ratings = {1, 2, 3, 4, 5}
rating = 1

if rating in ratings:
    print(f'The set contains {rating}')

The set contains 1

In [4]:
ratings = {1, 2, 3, 4, 5}
rating = 6

if rating not in ratings:
    print(f'The set does not contain {rating}')

The set does not contain 6

### Adding elements to a set
To add an element to a set, you use the add() method: **set.add(element)**

In [5]:
skills = {'Python programming', 'Software design'}
skills.add('Problem solving')

print(skills)

{'Python programming', 'Problem solving', 'Software design'}

### Removing an element from a set

To remove an element from a set, you use the remove() method: **set.remove()**

In [6]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.remove('Software design')

print(skills)

{'Python programming', 'Problem solving'}

If you remove an element that doesn’t exist in a set, you’ll get an error (KeyError). For example:

In [7]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.remove('Java')

KeyError: 'Java'

To avoid the error, you should use the in operator to check if an element is in the set before removing it:

In [8]:
skills = {'Problem solving', 'Software design', 'Python programming'}
if 'Java' in skills:
    skills.remove('Java')

To make it more convenient, the set has the discard() method that allows you to remove an element. And it doesn’t raise an error if the element is not in the list: **set.discard(element)**

In [9]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.discard('Java')

print(skills)

{'Python programming', 'Problem solving', 'Software design'}

### Returning an element from a set 
To remove and return an element from a set, you use the pop() method.

Since the elements in a set have no specific order, the pop() method removes an unspecified element from a set.

If you execute the following code multiple times, it’ll show a different value each time:

In [10]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

Python programming

### Removing all elements from a set
To remove all elements from a set, you use the clear() method:**set.clear()**

In [11]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.clear()

print(skills)

set()

### Frozen a set
To make a set immutable, you use the built-in function called frozenset(). The frozenset() returns a new immutable set from an existing one. For example:

In [12]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills = frozenset(skills)

In [14]:
# if you try to modify you will get an error
skills.add('Django')

AttributeError: 'frozenset' object has no attribute 'add'

### Looping through set elements 
Since a set is an iterable, you can use a for loop to iterate over its elements. For example:

In [15]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for skill in skills:
    print(skill)

Python programming
Problem solving
Software design

To access the index of the current element inside the loop, you can use the built-in enumerate() function:

In [16]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills):
    print(f"{index}.{skill}")

0.Python programming
1.Problem solving
2.Software design

By default, the index starts at zero. To change this, you pass the starting value to the second argument of the enumerate() function. For example:

In [17]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills, 1):
    print(f"{index}.{skill}")

1.Python programming
2.Problem solving
3.Software design

### Python Set Comprehension

Suppose that you have the following set that consists of three tags:

tags = {'Django', 'Pandas', 'Numpy'}

To convert the tags in the set to another set of tags in lowercase, you may use the following for loop:

In [18]:
tags = {'Django', 'Pandas', 'Numpy'}

lowercase_tags = set()
for tag in tags:
    lowercase_tags.add(tag.lower())

print(lowercase_tags)

{'pandas', 'django', 'numpy'}

Or you can use the built-in map() function with a lambda expression:

In [19]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = set(map(lambda tag: tag.lower(), tags))

print(lowercase_tags)

{'pandas', 'django', 'numpy'}

The map() function returns a map object so you need to use the set() function to convert it to a set.

To make the code more concise, Python provides you with the set comprehension syntax as follows:

{expression for element in set if condition}

The set comprehension allows you to create a new set based on an existing set.

A set comprehension carries the following steps:

- First, iterate over the elements of a set.
- Second, apply an expression to each element
- Third, create a new set of elements resulting from the expression.

In addition, the set comprehension allows you to select which element to apply the expression via a condition in the if clause.

**Note:** Note that the set comprehension returns a new set, it doesn’t modify the original set.

In [20]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = {tag.lower() for tag in tags}

print(lowercase_tags)

{'pandas', 'django', 'numpy'}

### Python Set comprehension with an if clause example
Suppose you want to convert all elements of the tags set to lowercase except for the Numpy.

To do it, you can add a condition to the set comprehension like this:

In [21]:
tags = {'Django', 'Pandas', 'Numpy'}
new_tags = {tag.lower() for tag in tags if tag != 'Numpy'}

print(new_tags)

{'django', 'pandas'}

### Python Set Union
The union of two sets returns a new set that contains distinct elements from both sets.

Suppose that you have the following sets:

In [22]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

# The union of above set will be 
{'Java','Python', 'C#'}

{'C#', 'Java', 'Python'}

### Union sets using union() method 
In Python, to union two or more sets, you use the union() method: **new_set = set.union(another_set, ...)**

In [23]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

{'C#', 'Java', 'Python'}

### Union sets using the | operator 
Python provides you with the set union operator | that allows you to union two sets:

new_set = set1 | set2

The set union operator (|) returns a new set that consists of distinct elements from both set1 and set2.

The following example shows how to use the union operator (|) to union the s1 and s2 sets:

In [24]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1 | s2

print(s)

{'C#', 'Java', 'Python'}

### The union() method vs. set union operator 
The union() method accepts one or more iterables, converts the iterables to sets, and performs the union.

The following example shows how to pass a list to the union() method:

In [25]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates.union(ranks)

print(ratings)

{1, 2, 3, 4}

However, the union operator (|) only allows sets, not iterables like the union() method.

The following example causes an error:

In [26]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates | ranks

TypeError: unsupported operand type(s) for |: 'set' and 'list'

### Python Set Intersection
In Python, you can use the set intersection() method or set intersection operator (&) to intersect two or more sets:<br>
new_set = set1.intersection(set2, set3)<br>
new_set = set1 & set2 & set3

When intersecting two or more sets, you’ll get a new set consisting of elements that exist in all sets.

Suppose that you have two following sets s1 and s2:

In [28]:
s1 = {'Python', 'Java','C++'}
s2 = {'C#', 'Java', 'C++' }

# The intersection will give the following output because they’re the only elements that exist in both sets.
s = {'Java', 'C++'}

The set intersection has many useful applications. For example, you can use set intersections to find the common favorites of two friends on a social networking application or to search for common skills of two or more employees on an HR application.

In Python, you can intersect two or more sets using the set intersection() method or set intersection operator (&).

### Using Python set intersection() method to intersect two or more sets 
This example shows how to use the set intersection() method to intersect two or more sets:

new_set = set1.intersection(set2, set3, ...)

In [29]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.intersection(s2)

print(s)

{'C++', 'Java'}

### Using Python set intersection (&) operator to intersect two or more sets 
Python provides you with the set intersection operator (&) that allows you to intersect two or more sets:

new_set = s1 & s2 & s3 & ...

In [30]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 & s2

print(s)

{'C++', 'Java'}

### Set intersection() method vs set intersection operator (&) 
The set intersection operator only allows sets, while the set intersection() method can accept any iterables, like strings, lists, and dictionaries.

If you pass iterables to the intersection() method, it’ll convert the iterables to set before intersecting them.

However, the set intersection operator (&) will raise an error if you use it with iterables.

The following example uses the intersection() method to intersect a set with a list:

In [31]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers.intersection(scores)

print(numbers)

{2, 3}

If you use the set intersection operator (&) instead, you’ll get an error:

In [1]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers & scores

print(numbers)

TypeError: unsupported operand type(s) for &: 'set' and 'list'

### Python Set Difference
The difference between the two sets results in a new set that has elements from the first set which aren’t present in the second set.

Suppose you have the following s1 and s2 sets:<br>
s1 = {'Python', 'Java', 'C++'}<br>
s2 = {'C#', 'Java', 'C++'}

The difference between s1 and s2 sets results in the following set with one element: {'Python'}

because there is only 'Python' element from the first set that doesn’t exist in the second set.

The set difference isn’t commutative. The difference between the s2 and s1 sets returns the following set: {'C#'}

### Using Python Set difference() method to find the difference between sets #
The Set type has a difference() method that returns the difference between two or more sets:

set1.difference(s2, s3, ...)

For example, you can use the set difference() method to find the difference between s1 and s2 sets:

In [2]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)

{'Python'}

In [3]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2.difference(s1)

print(s)

{'C#'}

**Note:** that the difference() method returns a new set. It doesn’t change the original sets.

### Using Python set difference operator (-) to find the difference between sets 
Besides the difference() method, Python provides you with the set difference operator (-) that allows you to find the difference between sets.

s = s1 - s2

The following example uses the difference operator (-) to find the difference between the s1 and s2 sets:

In [4]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1 - s2

print(s)

{'Python'}

In [5]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2 - s1

print(s)

{'C#'}

### The set difference() method vs set difference operator (-) #
The set difference() method can accept one or more iterables (e.g., strings, lists, dictionaries) while the set difference operator (-) only allows sets.

When you pass iterables to the set difference() method, it’ll convert the iterables to sets before performing the difference operation.

The following shows how to use the set difference() method with a list:

In [6]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores.difference(numbers)

print(new_scores)

{8, 7}

In [7]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores - numbers

print(new_scores)

TypeError: unsupported operand type(s) for -: 'set' and 'list'

### Python Symmetric Difference

The symmetric difference between two sets is a set of elements that are in either set, but not in their intersection.

Suppose that you have the following s1 and s2 sets:<br>
s1 = {'Python', 'Java', 'C++'}<br>
s2 = {'C#', 'Java', 'C++'}

The symmetric difference of the s1 and s2 sets returns in the following set:
{'C#', 'Python'}

As you can see clearly from the output, the elements in the return set are either in s1 or s2 set, but not in their intersection.

In Python, you can find the symmetric difference of two or more sets by using the set symmetric_difference() method or the symmetric difference operator (^).

### Using the symmetric_difference() method to find the symmetric difference of sets 
The Set type has the symmetric_difference() method that returns the symmetric difference of two or more sets:<br>
new_set = set1.symmetric_difference(set2, set3,...)

In [8]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.symmetric_difference(s2)

print(s)

{'C#', 'Python'}

**Note:** that the symmetric_difference() method returns a new set and doesn’t modify the original sets.

### Using the symmetric difference operator(^) to find the symmetric difference of sets 
Besides using the set symmetric_difference() method, you can use the symmetric difference operator (^) to find the symmetric difference between two or more sets:

new_set = set1 ^ set2 ^...

In [9]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 ^ s2

print(s)

{'C#', 'Python'}

### The symmetric_difference() method vs symmetric difference operator (^) #
The symmetric_difference() method accepts one or more iterables that can be strings, lists, or dictionaries.

If the iterables aren’t sets, the method will convert them to sets before returning the symmetric difference of them.

The following example shows how to use the symmetric_difference() method to find the symmetric difference between a set and a list:

In [10]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores.symmetric_difference(ratings)

print(new_set)

{10, 7}

However, the symmetric difference operator (^) only applies to sets. If you use it with the iterables which aren’t sets, you’ll get an error. For example:

In [11]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores ^ ratings

print(new_set)

TypeError: unsupported operand type(s) for ^: 'set' and 'list'

### Python issubset
Suppose that you have two sets A and B. Set A is a subset of set B if all elements of A are also elements of B. Then, set B is a superset of set A.

In Python, you can use the Set issubset() method to check if a set is a subset of another:

set_a.issubset(set_b)

If the set_a is a subset of the set_b, the issubset() method returns True. Otherwise, it returns False.

The following example uses the issubset() method to check if the set_a is a subset of the set_b:

In [12]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))

True

In [13]:
#By definition, a set is also a subset of itself. The following example returns True:
numbers = {1, 2, 3, 4, 5}

print(numbers.issubset(numbers))

True

The following example returns False because some elements in the numbers set aren’t in the scores set. In other words, the numbers set is not a subset of the scores set:

In [14]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(numbers.issubset(scores))

False

### Using subset operators 
Besides using the issubset() method, you can use the subset operator (<=) to check if a set is a subset of another set:

set_a <= set_b

The subset operator (<=) returns True if set_a is a subset of the set_b. Otherwise, it returns False. For example:

In [15]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores <= numbers
print(result)  # True

result = numbers <= numbers
print(result)  # True

True
True

The proper subset operator (<) check if the set_a is a proper subset of the set_b: **set_a < set_b**

In [16]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores < numbers
print(result)  # True

result = numbers < numbers
print(result)  # False

True
False

### Python issuperset
Suppose that you have two sets: A and B. A is a superset of B if all elements of B are elements of A.

If A is a superset of B, then B is a subset of A. To check if a set is a subset of another, you use the issubset() method.

If set A and set B are not equal, set A is a proper superset of set B.

Logically, a set is a superset of itself.

In Python, you use the set issuperset() method to check if a set is a superset of another set:

**set_a.issuperset(set_b)**

The issuperset() returns True if the set_a is a superset of the set_b. Otherwise, it returns False.

In [17]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers.issuperset(scores)

print(result)

True

Since all elements of the scores set are present in the numbers set, the numbers set is the superset of the scores set.

A set is also a superset of itself. For example:

In [18]:
numbers = {1, 2, 3, 4, 5}
result = numbers.issuperset(numbers)

print(result)

True

The scores set is not a subset of the numbers set therefore the following example returns False:

In [19]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores.issuperset(numbers)

print(result)

False

### Using superset operators 
The >= operator determines if a set is a superset of another set:

**set_a >= set_b**

The >= operator returns True if the set_a is a superset of the set_b. Otherwise, it returns False. For example:

In [20]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers >= scores
print(result)  # True

result = numbers >= numbers
print(result)  # True

True
True

To check if a set is a proper superset of another set, you use the > operator:

**set_a > set_b**

In [21]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers > scores
print(result)  # True

result = numbers > numbers
print(result)  # True

True
False

### Python Disjoin Sets

Two sets are disjoint when they have no elements in common. In other words, two disjoint sets are sets whose intersection is an empty set.

For example, the {1,3,5} and {2,4,6} sets are disjoint because they have no common elements.
In Python, you use the Set isdisjoint() method to check if two sets are disjoint or not:

**set_a.isdisjoint(set_b)**

The isdisjoint() method returns True if the set_a and set_b are disjoint. Otherwise, it returns False.

The isdisjoint() method also accepts any iterable, not just a set.

If you pass a list, a tuple, or a dictionary, the isdisjoint() method will convert it to a set before checking.

In [22]:
odd_numbers = {1, 3, 5}
even_numbers = {2, 4, 6}

result = odd_numbers.isdisjoint(even_numbers)

print(result)

True

Since no elements in the odd_numbers are present in the set even_numbers, the isdisjoint() method returns True.

The following example uses the isdisjoint() method to check if the set letters and the set alphanumerics are disjoint:

In [23]:
letters = {'A', 'B', 'C'}
alphanumerics = {'A', 1, 2}

result = letters.isdisjoint(alphanumerics)

print(result)

False

It returns False because the letter 'A' in the set alphanumerics is present in the set letters.

The following example passes a list to the isdisjoint() method instead of a set:

In [24]:
letters = {'A', 'B', 'C'}
result = letters.isdisjoint([1, 2, 3])

print(result)

True